*.log
.DS_Store
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
.env
bootstrap/cache/config.php
/bootstrap/cache/config.php

/.env
*.env
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/database/database.sqlite
/prd_teacher.md
/issues.md
/teacher_dashboard_prd.md
/Teacher_Dashboard_PRD.md
app/Http/Middleware/EncryptAndCompressResponse.php
