*.log
.DS_Store
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
.env
bootstrap/cache/config.php
/bootstrap/cache/config.php
STUDENT_NEXT_CLASSES_API.md
student_details_endpoint.md
BULLETIN_DOWNLOAD_AND_NOTIFICATION.md
/STUDENT_NEXT_CLASSES_API.md
/.env
*.env
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/database/database.sqlite
/prd_teacher.md
/flutter_hive_model.md
/issues.md
/teacher_dashboard_prd.md
/Teacher_Dashboard_PRD.md
claude.md
/student_details_endpoint.md
